<p>welcome works!</p>


<!-- <div *ngFor="let item of colleges">
    <h2> {{item.name}}  </h2>
    <h2> {{item.location}}  </h2>

</div> -->


{{errormessage}}
<form [formGroup]="stuentForm" class="student-form">
         Id :    <input type="text" formControlName="id" name="studentid"  placeholder="enter id" /> <br/>
         Name :  <input type="text"  formControlName="name"  name="studentname"  placeholder="enter name" /><br/>
            <div  *ngIf="stuentForm.controls['name'].hasError('required') && 
            stuentForm.controls['name'].touched">
                Name is required 
            </div>     
            
<!-- 
                <small class="gene-block"
                *ngIf="form.controls['courseName'].hasError('required') && form.controls['courseName'].touched"
                class="warn-text">
                Course Name is required
             </small> -->



         Age  :  <input type="text"  formControlName="age" name="studentage"  placeholder="enter age" /><br/>
                  

         <div  *ngIf="stuentForm.controls['age'].hasError('required') && 
         stuentForm.controls['age'].touched">
             Age is required 
         </div>  

         <div  *ngIf="stuentForm.controls['age'].hasError('max') && 
         stuentForm.controls['age'].touched">
             Age is less than 50 
         </div> 

         mark :  <input type="text" formControlName="mark"  name="studentmark" placeholder="enter mark" /><br/>
              
                <input type="button" value="save" (click)="save()"  />
</form>    


<!-- [disabled]="!stuentForm.valid" -->



<br/>
 <h2> School Details  </h2>

<table border="1">
    <tr><td>Id</td><td>Name</td><td>Age</td><td>Mark</td><td>Delete</td><td>view</td></tr>
    <tr  *ngFor="let item of students" ><td>{{ item.id}}</td><td>{{ item.name}}</td><td>{{ item.age}}</td><td>{{ item.mark}}</td>
    <td> <input type="button" value="delete" (click)="delete(item)" /></td>
    <td> <input type="button" value="view" (click)="view(item)" /></td>
    </tr>
</table>